# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
*.pyo

# Java
*.class
*.jar
*.war
*.ear
target/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
logs/
*.log

# Environment variables
.env
